In [1]:
import pandas as pd
import requests
import numpy as np
import json

#Using pip install census 
#Using pip instal us 
from census import Census
from us import states

from config import api_key
c = Census(api_key, year=2013)

#Documentation https://github.com/datamade/census

#Importing it like an API
#url = 'https://api.census.gov/data/2010/dec/sf1?get=PCT012A015,PCT012A119&for=state:01&key='

#response = requests.get(url+api_key).json()
#print(json.dumps(response, indent=4, sort_keys=True))

In [2]:
c.acs5.get(('NAME', 'B25034_010E'),#.acs.get() es el metodo que viene en la documentacion
          {'for': 'state:{}'.format(states.MD.fips)})

[{'NAME': 'Maryland', 'B25034_010E': 292837.0, 'state': '24'}]

In [29]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'state:*'})
census_data

[{'NAME': 'Alabama',
  'B19013_001E': 43253.0,
  'B01003_001E': 4799277.0,
  'B01002_001E': 38.1,
  'B19301_001E': 23680.0,
  'B17001_002E': 870631.0,
  'state': '01'},
 {'NAME': 'Alaska',
  'B19013_001E': 70760.0,
  'B01003_001E': 720316.0,
  'B01002_001E': 33.6,
  'B19301_001E': 32651.0,
  'B17001_002E': 69514.0,
  'state': '02'},
 {'NAME': 'Arizona',
  'B19013_001E': 49774.0,
  'B01003_001E': 6479703.0,
  'B01002_001E': 36.3,
  'B19301_001E': 25358.0,
  'B17001_002E': 1131901.0,
  'state': '04'},
 {'NAME': 'Arkansas',
  'B19013_001E': 40768.0,
  'B01003_001E': 2933369.0,
  'B01002_001E': 37.5,
  'B19301_001E': 22170.0,
  'B17001_002E': 547328.0,
  'state': '05'},
 {'NAME': 'California',
  'B19013_001E': 61094.0,
  'B01003_001E': 37659181.0,
  'B01002_001E': 35.4,
  'B19301_001E': 29527.0,
  'B17001_002E': 5885417.0,
  'state': '06'},
 {'NAME': 'Colorado',
  'B19013_001E': 58433.0,
  'B01003_001E': 5119329.0,
  'B01002_001E': 36.1,
  'B19301_001E': 31109.0,
  'B17001_002E': 660874.0,
  'state': '08'},
 {'NAME': 'Connecticut',
  'B19013_001E': 69461.0,
  'B01003_001E': 3583561.0,
  'B01002_001E': 40.2,
  'B19301_001E': 37892.0,
  'B17001_002E': 354348.0,
  'state': '09'},
 {'NAME': 'Delaware',
  'B19013_001E': 59878.0,
  'B01003_001E': 908446.0,
  'B01002_001E': 38.9,
  'B19301_001E': 29819.0,
  'B17001_002E': 103633.0,
  'state': '10'},
 {'NAME': 'District of Columbia',
  'B19013_001E': 65830.0,
  'B01003_001E': 619371.0,
  'B01002_001E': 33.8,
  'B19301_001E': 45290.0,
  'B17001_002E': 109200.0,
  'state': '11'},
 {'NAME': 'Florida',
  'B19013_001E': 46956.0,
  'B01003_001E': 19091156.0,
  'B01002_001E': 41.0,
  'B19301_001E': 26236.0,
  'B17001_002E': 3052807.0,
  'state': '12'},
 {'NAME': 'Georgia',
  'B19013_001E': 49179.0,
  'B01003_001E': 9810417.0,
  'B01002_001E': 35.6,
  'B19301_001E': 25182.0,
  'B17001_002E': 1736680.0,
  'state': '13'},
 {'NAME': 'Hawaii',
  'B19013_001E': 67402.0,
  'B01003_001E': 1376298.0,
  'B01002_001E': 38.3,
  'B19301_001E': 29305.0,
  'B17001_002E': 149531.0,
  'state': '15'},
 {'NAME': 'Idaho',
  'B19013_001E': 46767.0,
  'B01003_001E': 1583364.0,
  'B01002_001E': 34.9,
  'B19301_001E': 22568.0,
  'B17001_002E': 240298.0,
  'state': '16'},
 {'NAME': 'Illinois',
  'B19013_001E': 56797.0,
  'B01003_001E': 12848554.0,
  'B01002_001E': 36.8,
  'B19301_001E': 29666.0,
  'B17001_002E': 1772333.0,
  'state': '17'},
 {'NAME': 'Indiana',
  'B19013_001E': 48248.0,
  'B01003_001E': 6514861.0,
  'B01002_001E': 37.1,
  'B19301_001E': 24635.0,
  'B17001_002E': 969881.0,
  'state': '18'},
 {'NAME': 'Iowa',
  'B19013_001E': 51843.0,
  'B01003_001E': 3062553.0,
  'B01002_001E': 38.1,
  'B19301_001E': 27027.0,
  'B17001_002E': 367414.0,
  'state': '19'},
 {'NAME': 'Kansas',
  'B19013_001E': 51332.0,
  'B01003_001E': 2868107.0,
  'B01002_001E': 36.0,
  'B19301_001E': 26929.0,
  'B17001_002E': 382820.0,
  'state': '20'},
 {'NAME': 'Kentucky',
  'B19013_001E': 43036.0,
  'B01003_001E': 4361333.0,
  'B01002_001E': 38.2,
  'B19301_001E': 23462.0,
  'B17001_002E': 796202.0,
  'state': '21'},
 {'NAME': 'Louisiana',
  'B19013_001E': 44874.0,
  'B01003_001E': 4567968.0,
  'B01002_001E': 36.0,
  'B19301_001E': 24442.0,
  'B17001_002E': 846780.0,
  'state': '22'},
 {'NAME': 'Maine',
  'B19013_001E': 48453.0,
  'B01003_001E': 1328320.0,
  'B01002_001E': 43.2,
  'B19301_001E': 26824.0,
  'B17001_002E': 175624.0,
  'state': '23'},
 {'NAME': 'Maryland',
  'B19013_001E': 73538.0,
  'B01003_001E': 5834299.0,
  'B01002_001E': 38.0,
  'B19301_001E': 36354.0,
  'B17001_002E': 558329.0,
  'state': '24'},
 {'NAME': 'Massachusetts',
  'B19013_001E': 66866.0,
  'B01003_001E': 6605058.0,
  'B01002_001E': 39.2,
  'B19301_001E': 35763.0,
  'B17001_002E': 725351.0,
  'state': '25'},
 {'NAME': 'Michigan',
  'B19013_001E': 48411.0,
  'B01003_001E': 9886095.0,
  'B01002_001E': 39.1,
  'B19301_001E': 25681.0,
  'B17001_002E': 1625982.0,
  'state': '26'},
 {'NAME': 'Minnesota',
  'B19013_001E': 59836.0,
  'B01003_001E': 5347740.0,
  'B01002_001E': 37.6,
  'B19301_001E': 30913.0,
  'B17001_002E': 598391.0,
  'state': '27'},
 {'NAME': 'Mississippi',
  'B19013_001E': 39031.0,
  'B01003_001E': 2976872.0,
  'B01002_001E': 36.2,
  'B19301_001E': 20618.0,
  'B17001_002E': 653321.0,
  'state': '28'},
 {'NAME': 'Missouri',
  'B19013_001E': 47380.0,
  'B01003_001E': 6007182.0,
  'B01002_001E': 38.0,
  'B19301_001E': 25649.0,
  'B17001_002E': 900929.0,
  'state': '29'},
 {'NAME': 'Montana',
  'B19013_001E': 46230.0,
  'B01003_001E': 998554.0,
  'B01002_001E': 39.9,
  'B19301_001E': 25373.0,
  'B17001_002E': 148528.0,
  'state': '30'},
 {'NAME': 'Nebraska',
  'B19013_001E': 51672.0,
  'B01003_001E': 1841625.0,
  'B01002_001E': 36.3,
  'B19301_001E': 26899.0,
  'B17001_002E': 228789.0,
  'state': '31'},
 {'NAME': 'Nevada',
  'B19013_001E': 52800.0,
  'B01003_001E': 2730066.0,
  'B01002_001E': 36.6,
  'B19301_001E': 26589.0,
  'B17001_002E': 403314.0,
  'state': '32'},
 {'NAME': 'New Hampshire',
  'B19013_001E': 64916.0,
  'B01003_001E': 1319171.0,
  'B01002_001E': 41.5,
  'B19301_001E': 33134.0,
  'B17001_002E': 110859.0,
  'state': '33'},
 {'NAME': 'New Jersey',
  'B19013_001E': 71629.0,
  'B01003_001E': 8832406.0,
  'B01002_001E': 39.1,
  'B19301_001E': 36027.0,
  'B17001_002E': 900583.0,
  'state': '34'},
 {'NAME': 'New Mexico',
  'B19013_001E': 44927.0,
  'B01003_001E': 2069706.0,
  'B01002_001E': 36.7,
  'B19301_001E': 23763.0,
  'B17001_002E': 413801.0,
  'state': '35'},
 {'NAME': 'New York',
  'B19013_001E': 58003.0,
  'B01003_001E': 19487053.0,
  'B01002_001E': 38.1,
  'B19301_001E': 32382.0,
  'B17001_002E': 2903982.0,
  'state': '36'},
 {'NAME': 'North Carolina',
  'B19013_001E': 46334.0,
  'B01003_001E': 9651380.0,
  'B01002_001E': 37.6,
  'B19301_001E': 25284.0,
  'B17001_002E': 1643389.0,
  'state': '37'},
 {'NAME': 'North Dakota',
  'B19013_001E': 53741.0,
  'B01003_001E': 689781.0,
  'B01002_001E': 36.4,
  'B19301_001E': 29732.0,
  'B17001_002E': 79433.0,
  'state': '38'},
 {'NAME': 'Ohio',
  'B19013_001E': 48308.0,
  'B01003_001E': 11549590.0,
  'B01002_001E': 39.0,
  'B19301_001E': 26046.0,
  'B17001_002E': 1773853.0,
  'state': '39'},
 {'NAME': 'Oklahoma',
  'B19013_001E': 45339.0,
  'B01003_001E': 3785742.0,
  'B01002_001E': 36.2,
  'B19301_001E': 24208.0,
  'B17001_002E': 618683.0,
  'state': '40'},
 {'NAME': 'Oregon',
  'B19013_001E': 50229.0,
  'B01003_001E': 3868721.0,
  'B01002_001E': 38.7,
  'B19301_001E': 26809.0,
  'B17001_002E': 614778.0,
  'state': '41'},
 {'NAME': 'Pennsylvania',
  'B19013_001E': 52548.0,
  'B01003_001E': 12731381.0,
  'B01002_001E': 40.3,
  'B19301_001E': 28502.0,
  'B17001_002E': 1638820.0,
  'state': '42'},
 {'NAME': 'Rhode Island',
  'B19013_001E': 56361.0,
  'B01003_001E': 1051695.0,
  'B01002_001E': 39.6,
  'B19301_001E': 30469.0,
  'B17001_002E': 137244.0,
  'state': '44'},
 {'NAME': 'South Carolina',
  'B19013_001E': 44779.0,
  'B01003_001E': 4679602.0,
  'B01002_001E': 38.1,
  'B19301_001E': 23943.0,
  'B17001_002E': 820308.0,
  'state': '45'},
 {'NAME': 'South Dakota',
  'B19013_001E': 49495.0,
  'B01003_001E': 825198.0,
  'B01002_001E': 36.9,
  'B19301_001E': 25740.0,
  'B17001_002E': 112086.0,
  'state': '46'},
 {'NAME': 'Tennessee',
  'B19013_001E': 44298.0,
  'B01003_001E': 6402387.0,
  'B01002_001E': 38.2,
  'B19301_001E': 24409.0,
  'B17001_002E': 1101732.0,
  'state': '47'},
 {'NAME': 'Texas',
  'B19013_001E': 51900.0,
  'B01003_001E': 25639373.0,
  'B01002_001E': 33.8,
  'B19301_001E': 26019.0,
  'B17001_002E': 4416829.0,
  'state': '48'},
 {'NAME': 'Utah',
  'B19013_001E': 58821.0,
  'B01003_001E': 2813673.0,
  'B01002_001E': 29.6,
  'B19301_001E': 23873.0,
  'B17001_002E': 350205.0,
  'state': '49'},
 {'NAME': 'Vermont',
  'B19013_001E': 54267.0,
  'B01003_001E': 625904.0,
  'B01002_001E': 42.0,
  'B19301_001E': 29167.0,
  'B17001_002E': 70873.0,
  'state': '50'},
 {'NAME': 'Virginia',
  'B19013_001E': 63907.0,
  'B01003_001E': 8100653.0,
  'B01002_001E': 37.5,
  'B19301_001E': 33493.0,
  'B17001_002E': 887595.0,
  'state': '51'},
 {'NAME': 'Washington',
  'B19013_001E': 59478.0,
  'B01003_001E': 6819579.0,
  'B01002_001E': 37.3,
  'B19301_001E': 30742.0,
  'B17001_002E': 893211.0,
  'state': '53'},
 {'NAME': 'West Virginia',
  'B19013_001E': 41043.0,
  'B01003_001E': 1853619.0,
  'B01002_001E': 41.5,
  'B19301_001E': 22966.0,
  'B17001_002E': 321546.0,
  'state': '54'},
 {'NAME': 'Wisconsin',
  'B19013_001E': 52413.0,
  'B01003_001E': 5706871.0,
  'B01002_001E': 38.7,
  'B19301_001E': 27523.0,
  'B17001_002E': 723730.0,
  'state': '55'},
 {'NAME': 'Wyoming',
  'B19013_001E': 57406.0,
  'B01003_001E': 570134.0,
  'B01002_001E': 36.8,
  'B19301_001E': 28902.0,
  'B17001_002E': 63743.0,
  'state': '56'},
 {'NAME': 'Puerto Rico',
  'B19013_001E': 19624.0,
  'B01003_001E': 3682966.0,
  'B01002_001E': 37.5,
  'B19301_001E': 11068.0,
  'B17001_002E': 1644128.0,
  'state': '72'}]

In [30]:
census_pd = pd.DataFrame(census_data)
census_pd.head()

,B01002_001E,B01003_001E,B17001_002E,B19013_001E,B19301_001E,NAME,state
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06

In [34]:
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name",})
census_pd.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,Name,state,Poverty Rate
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01,18.140878
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02,9.650487
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04,17.468409
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05,18.658682
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06,15.628107

In [35]:
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)
census_pd.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,Name,state,Poverty Rate
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01,18.140878
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02,9.650487
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04,17.468409
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05,18.658682
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06,15.628107

In [36]:
census_pd = census_pd[["Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878
1,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
2,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409
3,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682
4,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107
5,Colorado,5119329.0,36.1,58433.0,31109.0,660874.0,12.909387
6,Connecticut,3583561.0,40.2,69461.0,37892.0,354348.0,9.888153
7,Delaware,908446.0,38.9,59878.0,29819.0,103633.0,11.407723
8,District of Columbia,619371.0,33.8,65830.0,45290.0,109200.0,17.630790
9,Florida,19091156.0,41.0,46956.0,26236.0,3052807.0,15.990687
10,Georgia,9810417.0,35.6,49179.0,25182.0,1736680.0,17.702408
11,Hawaii,1376298.0,38.3,67402.0,29305.0,149531.0,10.864726
12,Idaho,1583364.0,34.9,46767.0,22568.0,240298.0,15.176422
13,Illinois,12848554.0,36.8,56797.0,29666.0,1772333.0,13.794027
14,Indiana,6514861.0,37.1,48248.0,24635.0,969881.0,14.887209
15,Iowa,3062553.0,38.1,51843.0,27027.0,367414.0,11.996984
16,Kansas,2868107.0,36.0,51332.0,26929.0,382820.0,13.347480
17,Kentucky,4361333.0,38.2,43036.0,23462.0,796202.0,18.255932
18,Louisiana,4567968.0,36.0,44874.0,24442.0,846780.0,18.537345
19,Maine,1328320.0,43.2,48453.0,26824.0,175624.0,13.221513
20,Maryland,5834299.0,38.0,73538.0,36354.0,558329.0,9.569770
21,Massachusetts,6605058.0,39.2,66866.0,35763.0,725351.0,10.981751
22,Michigan,9886095.0,39.1,48411.0,25681.0,1625982.0,16.447161
23,Minnesota,5347740.0,37.6,59836.0,30913.0,598391.0,11.189605
24,Mississippi,2976872.0,36.2,39031.0,20618.0,653321.0,21.946560
25,Missouri,6007182.0,38.0,47380.0,25649.0,900929.0,14.997531
26,Montana,998554.0,39.9,46230.0,25373.0,148528.0,14.874308
27,Nebraska,1841625.0,36.3,51672.0,26899.0,228789.0,12.423213
28,Nevada,2730066.0,36.6,52800.0,26589.0,403314.0,14.773049
29,New Hampshire,1319171.0,41.5,64916.0,33134.0,110859.0,8.403687
30,New Jersey,8832406.0,39.1,71629.0,36027.0,900583.0,10.196350
31,New Mexico,2069706.0,36.7,44927.0,23763.0,413801.0,19.993226
32,New York,19487053.0,38.1,58003.0,32382.0,2903982.0,14.902110
33,North Carolina,9651380.0,37.6,46334.0,25284.0,1643389.0,17.027503
34,North Dakota,689781.0,36.4,53741.0,29732.0,79433.0,11.515684
35,Ohio,11549590.0,39.0,48308.0,26046.0,1773853.0,15.358580
36,Oklahoma,3785742.0,36.2,45339.0,24208.0,618683.0,16.342450
37,Oregon,3868721.0,38.7,50229.0,26809.0,614778.0,15.890988
38,Pennsylvania,12731381.0,40.3,52548.0,28502.0,1638820.0,12.872288
39,Rhode Island,1051695.0,39.6,56361.0,30469.0,137244.0,13.049791
40,South Carolina,4679602.0,38.1,44779.0,23943.0,820308.0,17.529439
41,South Dakota,825198.0,36.9,49495.0,25740.0,112086.0,13.582922
42,Tennessee,6402387.0,38.2,44298.0,24409.0,1101732.0,17.208144
43,Texas,25639373.0,33.8,51900.0,26019.0,4416829.0,17.226743
44,Utah,2813673.0,29.6,58821.0,23873.0,350205.0,12.446542
45,Vermont,625904.0,42.0,54267.0,29167.0,70873.0,11.323302
46,Virginia,8100653.0,37.5,63907.0,33493.0,887595.0,10.957080
47,Washington,6819579.0,37.3,59478.0,30742.0,893211.0,13.097744
48,West Virginia,1853619.0,41.5,41043.0,22966.0,321546.0,17.346931
49,Wisconsin,5706871.0,38.7,52413.0,27523.0,723730.0,12.681730
50,Wyoming,570134.0,36.8,57406.0,28902.0,63743.0,11.180354
51,Puerto Rico,3682966.0,37.5,19624.0,11068.0,1644128.0,44.641411

In [37]:
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)