In [1]:
 # Dependencies
import csv
import matplotlib.pyplot as plt
import requests
import pandas as pd
import geopandas as gpd
from sodapy import Socrata
import json
from datetime import date
import datetime
import numpy as np
from census import Census
from us import states

from config import api_key
c = Census(api_key, year=2013)

## I. Extract and manipulate data CHIP enrollment data

### I.1 Request data using API monthly CHIP enrollment data per state (6/2017 - 5/2019)

In [2]:
## Data query setup
basic_url = "https://data.medicaid.gov/resource/74p5-kixw.json?"

response = requests.get(basic_url).json()
print (len(response))
print(json.dumps(response[0], indent=2, sort_keys=True))

1000
{
  ":@computed_region_7gxu_g3ub": "8915",
  "applications_for_financial_assistance_submitted_to_the_state_based_marketplace": "N/A",
  "final_report": "N",
  "geocoded_column": {
    "coordinates": [
      -93.9196,
      45.7326
    ],
    "type": "Point"
  },
  "individuals_determined_eligible_for_medicaid_at_application": "8347",
  "individuals_determined_eligible_for_medicaid_at_application_footnotes": "Includes CHIP; Count is of Households, Not Individuals",
  "latitude": "45.7326",
  "longitude": "-93.9196",
  "medicaid_and_chip_child_enrollment": "569605",
  "new_applications_submitted_to_medicaid_and_chip_agencies": "18967",
  "preliminary_updated": "P",
  "report_date": "2018-11-01T00:00:00.000",
  "state_abbreviation": "MO",
  "state_expanded_medicaid": "N",
  "state_name": "Missouri",
  "total_applications_for_financial_assistance_submitted_at_state_level": "18967",
  "total_chip_enrollment": "31139",
  "total_medicaid_and_chip_enrollment": "895063",
  "total_medicaid_enrollment": "863924",
  "total_new_determinations": "8347",
  "total_new_determinations_footnotes": "Count is of Households, Not Individuals"
}

In [3]:
# Create dictionary of states
with open('states.csv', mode='r', encoding='utf-8-sig') as infile:
    reader = csv.reader(infile)
    states = {rows[0]:rows[1] for rows in reader}

states_list = [ k for k in states ]
states_list

['AK',
 'AL',
 'AR',
 'AZ',
 'CA',
 'CO',
 'CT',
 'DC',
 'DE',
 'FL',
 'GA',
 'HI',
 'IA',
 'ID',
 'IL',
 'IN',
 'KS',
 'KY',
 'LA',
 'MA',
 'MD',
 'ME',
 'MI',
 'MN',
 'MO',
 'MS',
 'MT',
 'NC',
 'ND',
 'NE',
 'NH',
 'NJ',
 'NM',
 'NV',
 'NY',
 'OH',
 'OK',
 'OR',
 'PA',
 'RI',
 'SC',
 'SD',
 'TN',
 'TX',
 'UT',
 'VA',
 'VT',
 'WA',
 'WI',
 'WV',
 'WY']

In [4]:
# Create list of dates for making the query
dates_list= ['2017-06', '2017-07', '2017-08', '2017-09', '2017-10',
'2017-11', '2017-12', '2018-01', '2018-02', '2018-03',
'2018-04', '2018-05', '2018-06', '2018-07', '2018-08',
'2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
'2019-02', '2019-03', '2019-04', '2019-05']

In [5]:
# Create a dataframe for monthly observations per state 
# for each of the months in the dates list

df = pd.DataFrame(dates_list, columns=['date'])

df['state']=""
df=df.set_index('date')
df.index

df1 = pd.DataFrame(dates_list, columns=['date'])
df1['state']=""
df1=df1.set_index('date')
df1

for i in range(len(states_list)):
    df1['state']=states_list[i]
    df=pd.concat([df, df1])
df.describe
pd.set_option('display.max_rows', None)
df = df.loc[df["state"] != ""]

df.index
df=df.reset_index()
df.head()

      date state
0  2017-06    AK
1  2017-07    AK
2  2017-08    AK
3  2017-09    AK
4  2017-10    AK

In [6]:
# Add empty columns for adding the following data to the dataframe: 
# coordinates, state name, state abbreviation and month

df['lat']=""
df['lon']=""
df['chip']=""
df['state_name']=""
df['state_abbrev']=""
df['month']=""

df=df.set_index(['date','state'])
df.head()

              lat lon chip state_name state_abbrev month
date    state
2017-06 AK
2017-07 AK
2017-08 AK
2017-09 AK
2017-10 AK

In [7]:
# Make the API request and populate dataframe's empty fields

for index, row in df.iterrows():
    try:
        s = index
        response = requests.get(basic_url+'state_abbreviation='+s[1]+'&report_date='+s[0]+'-01T00:00:00.000').json()
        print(response[0]["state_name"]) # print state name just to see where the loop is
        df.loc[(index[0],index[1]),"month"]=s[0]
        df.loc[(index[0],index[1]),"state_abbrev"]=response[0]["state_abbreviation"]
        df.loc[(index[0],index[1]),"chip"]=response[0]["total_chip_enrollment"]
        df.loc[(index[0],index[1]),"state_name"]=response[0]["state_name"]
        df.loc[(index[0],index[1]),"lat"]=response[0]["latitude"]
        df.loc[(index[0],index[1]),"lon"]=response[0]["longitude"]
    except IndexError as e:
#         df.loc[(index[0],index[1]),"month"]="NaN"
        df.loc[(index[0],index[1]),"state_abbrev"]="NaN"
        df.loc[(index[0],index[1]),"chip"]="NaN"
        df.loc[(index[0],index[1]),"state_name"]="NaN"
        df.loc[(index[0],index[1]),"lat"]="NaN"
        df.loc[(index[0],index[1]),"lon"]="NaN"
        print ('IndexError - "%s"' % str(e) )
    except ValueError as e:
#         df.loc[(index[0],index[1]),"month"]="NaN"
        df.loc[(index[0],index[1]),"state_abbrev"]="NaN"
        df.loc[(index[0],index[1]),"chip"]="NaN"
        df.loc[(index[0],index[1]),"state_name"]="NaN"
        df.loc[(index[0],index[1]),"lat"]="NaN"
        df.loc[(index[0],index[1]),"lon"]="NaN"
        print ('IndexError - "%s"' % str(e) )

Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alaska
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Alabama
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arkansas
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
Arizona
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
California
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Colorado
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
Connecticut
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
District of Columbia
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Delaware
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Florida
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Georgia
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Hawaii
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Iowa
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Idaho
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Illinois
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Indiana
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kansas
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Kentucky
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Louisiana
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Massachusetts
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maryland
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Maine
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Michigan
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Minnesota
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Missouri
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Mississippi
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
Montana
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Carolina
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
North Dakota
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
Nebraska
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Hampshire
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Jersey
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
New Mexico
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
Nevada
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
New York
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio
Ohio

Ohio
Ohio
Ohio
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oklahoma
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Oregon
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Pennsylvania
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
Rhode Island
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Carolina
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
South Dakota
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Tennessee
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Texas
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Utah
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Virginia
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Vermont
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Washington
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
Wisconsin
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
West Virginia
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming
Wyoming

### I.2 Manipulate CHIP enrollment dataframe

In [8]:
# Modify data types
df=df.reset_index()
df['state_name'] = df['state_name'].astype('str')
df['state_abbrev']=df.state_abbrev.astype(str)
df['date'] = df['date'].astype('datetime64')
df['chip']=df.chip.astype(float)
df['lat']=df.lat.astype(float)
df['lon']=df.lon.astype(float)
df.info() 
# df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1224 entries, 0 to 1223
Data columns (total 8 columns):
date            1224 non-null datetime64[ns]
state           1224 non-null object
lat             1224 non-null float64
lon             1224 non-null float64
chip            1224 non-null float64
state_name      1224 non-null object
state_abbrev    1224 non-null object
month           1224 non-null object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 76.6+ KB

In [17]:
# Reset index and set state_name as index
df = df.reset_index()
df=df[['state_name', 'date', 'state', 'lat','lon','chip', 'state_abbrev','month']]
df.head()

  state_name       date state     lat       lon     chip state_abbrev    month
0     Alaska 2017-06-01    AK  61.385 -152.2683  12454.0           AK  2017-06
1     Alaska 2017-07-01    AK  61.385 -152.2683  12605.0           AK  2017-07
2     Alaska 2017-08-01    AK  61.385 -152.2683  12763.0           AK  2017-08
3     Alaska 2017-09-01    AK  61.385 -152.2683  12602.0           AK  2017-09
4     Alaska 2017-10-01    AK  61.385 -152.2683  12963.0           AK  2017-10

In [18]:
# Add a colummn to df with the CHIP enrollment initial value (2017-06) per state
chip_initial=df[['month', 'state_name', 'chip']]
chip_initial =chip_initial.loc[chip_initial["month"] == "2017-06",:]
chip_initial.head()

chip_change = pd.merge(df, chip_initial, on="state_name")
chip_change.head()

,state_name,date,state,lat,lon,chip_x,state_abbrev,month_x,month_y,chip_y
0,Alaska,2017-06-01,AK,61.385,-152.2683,12454.0,AK,2017-06,2017-06,12454.0
1,Alaska,2017-07-01,AK,61.385,-152.2683,12605.0,AK,2017-07,2017-06,12454.0
2,Alaska,2017-08-01,AK,61.385,-152.2683,12763.0,AK,2017-08,2017-06,12454.0
3,Alaska,2017-09-01,AK,61.385,-152.2683,12602.0,AK,2017-09,2017-06,12454.0
4,Alaska,2017-10-01,AK,61.385,-152.2683,12963.0,AK,2017-10,2017-06,12454.0

In [19]:
# Calculate the % change in enrollment by month 
# where the comparison month is always 6/2017 

# df = df.set_index(['state_name'])
chip_change['chip_change'] = (chip_change['chip_x']/chip_change['chip_y'])-1

In [20]:
chip_change.head()

,state_name,date,state,lat,lon,chip_x,state_abbrev,month_x,month_y,chip_y,chip_change
0,Alaska,2017-06-01,AK,61.385,-152.2683,12454.0,AK,2017-06,2017-06,12454.0,0.000000
1,Alaska,2017-07-01,AK,61.385,-152.2683,12605.0,AK,2017-07,2017-06,12454.0,0.012125
2,Alaska,2017-08-01,AK,61.385,-152.2683,12763.0,AK,2017-08,2017-06,12454.0,0.024811
3,Alaska,2017-09-01,AK,61.385,-152.2683,12602.0,AK,2017-09,2017-06,12454.0,0.011884
4,Alaska,2017-10-01,AK,61.385,-152.2683,12963.0,AK,2017-10,2017-06,12454.0,0.040870

In [21]:
# Keep only relevant columns
chip_change=chip_change[['state_name', 'date', 'lat','lon', 'state_abbrev','month_x','chip_x', 'chip_change']]
# chip_change['chip_change'] = pd.Series(["{0:.2f}%".format(val * 100) for val in chip_change['chip_change']])
chip_change.info()
chip_change.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1224 entries, 0 to 1223
Data columns (total 8 columns):
state_name      1224 non-null object
date            1224 non-null datetime64[ns]
lat             1224 non-null float64
lon             1224 non-null float64
state_abbrev    1224 non-null object
month_x         1224 non-null object
chip_x          1224 non-null float64
chip_change     1224 non-null float64
dtypes: datetime64[ns](1), float64(4), object(3)
memory usage: 86.1+ KB

,state_name,date,lat,lon,state_abbrev,month_x,chip_x,chip_change
0,Alaska,2017-06-01,61.385,-152.2683,AK,2017-06,12454.0,0.000000
1,Alaska,2017-07-01,61.385,-152.2683,AK,2017-07,12605.0,0.012125
2,Alaska,2017-08-01,61.385,-152.2683,AK,2017-08,12763.0,0.024811
3,Alaska,2017-09-01,61.385,-152.2683,AK,2017-09,12602.0,0.011884
4,Alaska,2017-10-01,61.385,-152.2683,AK,2017-10,12963.0,0.040870

In [22]:
# Rename columns
chip_change=chip_change.rename(columns={'state_name':'state',
                          'chip_x':'chip_enrollment',
                          'month_x':'month'})

In [23]:
chip_change.to_csv('chip_change.csv')
chip_change.head(35)

,state,date,lat,lon,state_abbrev,month,chip_enrollment,chip_change
0,Alaska,2017-06-01,61.385,-152.2683,AK,2017-06,12454.0,0.000000
1,Alaska,2017-07-01,61.385,-152.2683,AK,2017-07,12605.0,0.012125
2,Alaska,2017-08-01,61.385,-152.2683,AK,2017-08,12763.0,0.024811
3,Alaska,2017-09-01,61.385,-152.2683,AK,2017-09,12602.0,0.011884
4,Alaska,2017-10-01,61.385,-152.2683,AK,2017-10,12963.0,0.040870
5,Alaska,2017-11-01,61.385,-152.2683,AK,2017-11,12802.0,0.027943
6,Alaska,2017-12-01,61.385,-152.2683,AK,2017-12,12919.0,0.037337
7,Alaska,2018-01-01,61.385,-152.2683,AK,2018-01,13141.0,0.055163
8,Alaska,2018-02-01,61.385,-152.2683,AK,2018-02,13163.0,0.056930
9,Alaska,2018-03-01,61.385,-152.2683,AK,2018-03,13280.0,0.066324
10,Alaska,2018-04-01,61.385,-152.2683,AK,2018-04,13293.0,0.067368
11,Alaska,2018-05-01,61.385,-152.2683,AK,2018-05,13403.0,0.076200
12,Alaska,2018-06-01,61.385,-152.2683,AK,2018-06,13729.0,0.102377
13,Alaska,2018-07-01,61.385,-152.2683,AK,2018-07,13803.0,0.108319
14,Alaska,2018-08-01,61.385,-152.2683,AK,2018-08,13757.0,0.104625
15,Alaska,2018-09-01,61.385,-152.2683,AK,2018-09,13915.0,0.117312
16,Alaska,2018-10-01,61.385,-152.2683,AK,2018-10,14385.0,0.155051
17,Alaska,2018-11-01,61.385,-152.2683,AK,2018-11,14835.0,0.191184
18,Alaska,2018-12-01,61.385,-152.2683,AK,2018-12,14835.0,0.191184
19,Alaska,2019-01-01,61.385,-152.2683,AK,2019-01,15137.0,0.215433
20,Alaska,2019-02-01,61.385,-152.2683,AK,2019-02,15378.0,0.234784
21,Alaska,2019-03-01,61.385,-152.2683,AK,2019-03,15396.0,0.236229
22,Alaska,2019-04-01,61.385,-152.2683,AK,2019-04,15448.0,0.240405
23,Alaska,2019-05-01,61.385,-152.2683,AK,2019-05,15565.0,0.249799
24,Alabama,2017-06-01,32.799,-86.8073,AL,2017-06,153485.0,0.000000
25,Alabama,2017-07-01,32.799,-86.8073,AL,2017-07,154070.0,0.003811
26,Alabama,2017-08-01,32.799,-86.8073,AL,2017-08,155549.0,0.013448
27,Alabama,2017-09-01,32.799,-86.8073,AL,2017-09,158144.0,0.030355
28,Alabama,2017-10-01,32.799,-86.8073,AL,2017-10,159080.0,0.036453
29,Alabama,2017-11-01,32.799,-86.8073,AL,2017-11,172664.0,0.124957
30,Alabama,2017-12-01,32.799,-86.8073,AL,2017-12,169741.0,0.105913
31,Alabama,2018-01-01,32.799,-86.8073,AL,2018-01,172500.0,0.123888
32,Alabama,2018-02-01,32.799,-86.8073,AL,2018-02,175921.0,0.146177
33,Alabama,2018-03-01,32.799,-86.8073,AL,2018-03,176135.0,0.147571
34,Alabama,2018-04-01,32.799,-86.8073,AL,2018-04,175462.0,0.143187

## II. Extract and manipulate Census data

### II.1 Extract data from Census API

In [25]:
#c.acs5.get(('NAME', 'B25034_010E'),#.acs.get() es el metodo que viene en la documentacion
          #{'for': 'state:{}'.format(states.MD.fips)})

In [26]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'state:*'})
census_data

[{'NAME': 'Alabama',
  'B19013_001E': 43253.0,
  'B01003_001E': 4799277.0,
  'B01002_001E': 38.1,
  'B19301_001E': 23680.0,
  'B17001_002E': 870631.0,
  'state': '01'},
 {'NAME': 'Alaska',
  'B19013_001E': 70760.0,
  'B01003_001E': 720316.0,
  'B01002_001E': 33.6,
  'B19301_001E': 32651.0,
  'B17001_002E': 69514.0,
  'state': '02'},
 {'NAME': 'Arizona',
  'B19013_001E': 49774.0,
  'B01003_001E': 6479703.0,
  'B01002_001E': 36.3,
  'B19301_001E': 25358.0,
  'B17001_002E': 1131901.0,
  'state': '04'},
 {'NAME': 'Arkansas',
  'B19013_001E': 40768.0,
  'B01003_001E': 2933369.0,
  'B01002_001E': 37.5,
  'B19301_001E': 22170.0,
  'B17001_002E': 547328.0,
  'state': '05'},
 {'NAME': 'California',
  'B19013_001E': 61094.0,
  'B01003_001E': 37659181.0,
  'B01002_001E': 35.4,
  'B19301_001E': 29527.0,
  'B17001_002E': 5885417.0,
  'state': '06'},
 {'NAME': 'Colorado',
  'B19013_001E': 58433.0,
  'B01003_001E': 5119329.0,
  'B01002_001E': 36.1,
  'B19301_001E': 31109.0,
  'B17001_002E': 660874.0,
  'state': '08'},
 {'NAME': 'Connecticut',
  'B19013_001E': 69461.0,
  'B01003_001E': 3583561.0,
  'B01002_001E': 40.2,
  'B19301_001E': 37892.0,
  'B17001_002E': 354348.0,
  'state': '09'},
 {'NAME': 'Delaware',
  'B19013_001E': 59878.0,
  'B01003_001E': 908446.0,
  'B01002_001E': 38.9,
  'B19301_001E': 29819.0,
  'B17001_002E': 103633.0,
  'state': '10'},
 {'NAME': 'District of Columbia',
  'B19013_001E': 65830.0,
  'B01003_001E': 619371.0,
  'B01002_001E': 33.8,
  'B19301_001E': 45290.0,
  'B17001_002E': 109200.0,
  'state': '11'},
 {'NAME': 'Florida',
  'B19013_001E': 46956.0,
  'B01003_001E': 19091156.0,
  'B01002_001E': 41.0,
  'B19301_001E': 26236.0,
  'B17001_002E': 3052807.0,
  'state': '12'},
 {'NAME': 'Georgia',
  'B19013_001E': 49179.0,
  'B01003_001E': 9810417.0,
  'B01002_001E': 35.6,
  'B19301_001E': 25182.0,
  'B17001_002E': 1736680.0,
  'state': '13'},
 {'NAME': 'Hawaii',
  'B19013_001E': 67402.0,
  'B01003_001E': 1376298.0,
  'B01002_001E': 38.3,
  'B19301_001E': 29305.0,
  'B17001_002E': 149531.0,
  'state': '15'},
 {'NAME': 'Idaho',
  'B19013_001E': 46767.0,
  'B01003_001E': 1583364.0,
  'B01002_001E': 34.9,
  'B19301_001E': 22568.0,
  'B17001_002E': 240298.0,
  'state': '16'},
 {'NAME': 'Illinois',
  'B19013_001E': 56797.0,
  'B01003_001E': 12848554.0,
  'B01002_001E': 36.8,
  'B19301_001E': 29666.0,
  'B17001_002E': 1772333.0,
  'state': '17'},
 {'NAME': 'Indiana',
  'B19013_001E': 48248.0,
  'B01003_001E': 6514861.0,
  'B01002_001E': 37.1,
  'B19301_001E': 24635.0,
  'B17001_002E': 969881.0,
  'state': '18'},
 {'NAME': 'Iowa',
  'B19013_001E': 51843.0,
  'B01003_001E': 3062553.0,
  'B01002_001E': 38.1,
  'B19301_001E': 27027.0,
  'B17001_002E': 367414.0,
  'state': '19'},
 {'NAME': 'Kansas',
  'B19013_001E': 51332.0,
  'B01003_001E': 2868107.0,
  'B01002_001E': 36.0,
  'B19301_001E': 26929.0,
  'B17001_002E': 382820.0,
  'state': '20'},
 {'NAME': 'Kentucky',
  'B19013_001E': 43036.0,
  'B01003_001E': 4361333.0,
  'B01002_001E': 38.2,
  'B19301_001E': 23462.0,
  'B17001_002E': 796202.0,
  'state': '21'},
 {'NAME': 'Louisiana',
  'B19013_001E': 44874.0,
  'B01003_001E': 4567968.0,
  'B01002_001E': 36.0,
  'B19301_001E': 24442.0,
  'B17001_002E': 846780.0,
  'state': '22'},
 {'NAME': 'Maine',
  'B19013_001E': 48453.0,
  'B01003_001E': 1328320.0,
  'B01002_001E': 43.2,
  'B19301_001E': 26824.0,
  'B17001_002E': 175624.0,
  'state': '23'},
 {'NAME': 'Maryland',
  'B19013_001E': 73538.0,
  'B01003_001E': 5834299.0,
  'B01002_001E': 38.0,
  'B19301_001E': 36354.0,
  'B17001_002E': 558329.0,
  'state': '24'},
 {'NAME': 'Massachusetts',
  'B19013_001E': 66866.0,
  'B01003_001E': 6605058.0,
  'B01002_001E': 39.2,
  'B19301_001E': 35763.0,
  'B17001_002E': 725351.0,
  'state': '25'},
 {'NAME': 'Michigan',
  'B19013_001E': 48411.0,
  'B01003_001E': 9886095.0,
  'B01002_001E': 39.1,
  'B19301_001E': 25681.0,
  'B17001_002E': 1625982.0,
  'state': '26'},
 {'NAME': 'Minnesota',
  'B19013_001E': 59836.0,
  'B01003_001E': 5347740.0,
  'B01002_001E': 37.6,
  'B19301_001E': 30913.0,
  'B17001_002E': 598391.0,
  'state': '27'},
 {'NAME': 'Mississippi',
  'B19013_001E': 39031.0,
  'B01003_001E': 2976872.0,
  'B01002_001E': 36.2,
  'B19301_001E': 20618.0,
  'B17001_002E': 653321.0,
  'state': '28'},
 {'NAME': 'Missouri',
  'B19013_001E': 47380.0,
  'B01003_001E': 6007182.0,
  'B01002_001E': 38.0,
  'B19301_001E': 25649.0,
  'B17001_002E': 900929.0,
  'state': '29'},
 {'NAME': 'Montana',
  'B19013_001E': 46230.0,
  'B01003_001E': 998554.0,
  'B01002_001E': 39.9,
  'B19301_001E': 25373.0,
  'B17001_002E': 148528.0,
  'state': '30'},
 {'NAME': 'Nebraska',
  'B19013_001E': 51672.0,
  'B01003_001E': 1841625.0,
  'B01002_001E': 36.3,
  'B19301_001E': 26899.0,
  'B17001_002E': 228789.0,
  'state': '31'},
 {'NAME': 'Nevada',
  'B19013_001E': 52800.0,
  'B01003_001E': 2730066.0,
  'B01002_001E': 36.6,
  'B19301_001E': 26589.0,
  'B17001_002E': 403314.0,
  'state': '32'},
 {'NAME': 'New Hampshire',
  'B19013_001E': 64916.0,
  'B01003_001E': 1319171.0,
  'B01002_001E': 41.5,
  'B19301_001E': 33134.0,
  'B17001_002E': 110859.0,
  'state': '33'},
 {'NAME': 'New Jersey',
  'B19013_001E': 71629.0,
  'B01003_001E': 8832406.0,
  'B01002_001E': 39.1,
  'B19301_001E': 36027.0,
  'B17001_002E': 900583.0,
  'state': '34'},
 {'NAME': 'New Mexico',
  'B19013_001E': 44927.0,
  'B01003_001E': 2069706.0,
  'B01002_001E': 36.7,
  'B19301_001E': 23763.0,
  'B17001_002E': 413801.0,
  'state': '35'},
 {'NAME': 'New York',
  'B19013_001E': 58003.0,
  'B01003_001E': 19487053.0,
  'B01002_001E': 38.1,
  'B19301_001E': 32382.0,
  'B17001_002E': 2903982.0,
  'state': '36'},
 {'NAME': 'North Carolina',
  'B19013_001E': 46334.0,
  'B01003_001E': 9651380.0,
  'B01002_001E': 37.6,
  'B19301_001E': 25284.0,
  'B17001_002E': 1643389.0,
  'state': '37'},
 {'NAME': 'North Dakota',
  'B19013_001E': 53741.0,
  'B01003_001E': 689781.0,
  'B01002_001E': 36.4,
  'B19301_001E': 29732.0,
  'B17001_002E': 79433.0,
  'state': '38'},
 {'NAME': 'Ohio',
  'B19013_001E': 48308.0,
  'B01003_001E': 11549590.0,
  'B01002_001E': 39.0,
  'B19301_001E': 26046.0,
  'B17001_002E': 1773853.0,
  'state': '39'},
 {'NAME': 'Oklahoma',
  'B19013_001E': 45339.0,
  'B01003_001E': 3785742.0,
  'B01002_001E': 36.2,
  'B19301_001E': 24208.0,
  'B17001_002E': 618683.0,
  'state': '40'},
 {'NAME': 'Oregon',
  'B19013_001E': 50229.0,
  'B01003_001E': 3868721.0,
  'B01002_001E': 38.7,
  'B19301_001E': 26809.0,
  'B17001_002E': 614778.0,
  'state': '41'},
 {'NAME': 'Pennsylvania',
  'B19013_001E': 52548.0,
  'B01003_001E': 12731381.0,
  'B01002_001E': 40.3,
  'B19301_001E': 28502.0,
  'B17001_002E': 1638820.0,
  'state': '42'},
 {'NAME': 'Rhode Island',
  'B19013_001E': 56361.0,
  'B01003_001E': 1051695.0,
  'B01002_001E': 39.6,
  'B19301_001E': 30469.0,
  'B17001_002E': 137244.0,
  'state': '44'},
 {'NAME': 'South Carolina',
  'B19013_001E': 44779.0,
  'B01003_001E': 4679602.0,
  'B01002_001E': 38.1,
  'B19301_001E': 23943.0,
  'B17001_002E': 820308.0,
  'state': '45'},
 {'NAME': 'South Dakota',
  'B19013_001E': 49495.0,
  'B01003_001E': 825198.0,
  'B01002_001E': 36.9,
  'B19301_001E': 25740.0,
  'B17001_002E': 112086.0,
  'state': '46'},
 {'NAME': 'Tennessee',
  'B19013_001E': 44298.0,
  'B01003_001E': 6402387.0,
  'B01002_001E': 38.2,
  'B19301_001E': 24409.0,
  'B17001_002E': 1101732.0,
  'state': '47'},
 {'NAME': 'Texas',
  'B19013_001E': 51900.0,
  'B01003_001E': 25639373.0,
  'B01002_001E': 33.8,
  'B19301_001E': 26019.0,
  'B17001_002E': 4416829.0,
  'state': '48'},
 {'NAME': 'Utah',
  'B19013_001E': 58821.0,
  'B01003_001E': 2813673.0,
  'B01002_001E': 29.6,
  'B19301_001E': 23873.0,
  'B17001_002E': 350205.0,
  'state': '49'},
 {'NAME': 'Vermont',
  'B19013_001E': 54267.0,
  'B01003_001E': 625904.0,
  'B01002_001E': 42.0,
  'B19301_001E': 29167.0,
  'B17001_002E': 70873.0,
  'state': '50'},
 {'NAME': 'Virginia',
  'B19013_001E': 63907.0,
  'B01003_001E': 8100653.0,
  'B01002_001E': 37.5,
  'B19301_001E': 33493.0,
  'B17001_002E': 887595.0,
  'state': '51'},
 {'NAME': 'Washington',
  'B19013_001E': 59478.0,
  'B01003_001E': 6819579.0,
  'B01002_001E': 37.3,
  'B19301_001E': 30742.0,
  'B17001_002E': 893211.0,
  'state': '53'},
 {'NAME': 'West Virginia',
  'B19013_001E': 41043.0,
  'B01003_001E': 1853619.0,
  'B01002_001E': 41.5,
  'B19301_001E': 22966.0,
  'B17001_002E': 321546.0,
  'state': '54'},
 {'NAME': 'Wisconsin',
  'B19013_001E': 52413.0,
  'B01003_001E': 5706871.0,
  'B01002_001E': 38.7,
  'B19301_001E': 27523.0,
  'B17001_002E': 723730.0,
  'state': '55'},
 {'NAME': 'Wyoming',
  'B19013_001E': 57406.0,
  'B01003_001E': 570134.0,
  'B01002_001E': 36.8,
  'B19301_001E': 28902.0,
  'B17001_002E': 63743.0,
  'state': '56'},
 {'NAME': 'Puerto Rico',
  'B19013_001E': 19624.0,
  'B01003_001E': 3682966.0,
  'B01002_001E': 37.5,
  'B19301_001E': 11068.0,
  'B17001_002E': 1644128.0,
  'state': '72'}]

In [27]:
census_pd = pd.DataFrame(census_data)
census_pd.head()

,B01002_001E,B01003_001E,B17001_002E,B19013_001E,B19301_001E,NAME,state
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06

### II.2. Manipulate data retrieved from Census

In [28]:
census_pd = census_pd.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name",})
census_pd.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,Name,state
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06

In [29]:
census_pd["Poverty Rate"] = 100 * census_pd["Poverty Count"].astype(int) / census_pd["Population"].astype(int)
census_pd.head()

,Median Age,Population,Poverty Count,Household Income,Per Capita Income,Name,state,Poverty Rate
0,38.1,4799277.0,870631.0,43253.0,23680.0,Alabama,01,18.140878
1,33.6,720316.0,69514.0,70760.0,32651.0,Alaska,02,9.650487
2,36.3,6479703.0,1131901.0,49774.0,25358.0,Arizona,04,17.468409
3,37.5,2933369.0,547328.0,40768.0,22170.0,Arkansas,05,18.658682
4,35.4,37659181.0,5885417.0,61094.0,29527.0,California,06,15.628107

In [30]:
census_pd = census_pd[["Name", "Population", "Median Age", "Household Income",
                       "Per Capita Income", "Poverty Count", "Poverty Rate"]]
census_pd.head()

,Name,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Alabama,4799277.0,38.1,43253.0,23680.0,870631.0,18.140878
1,Alaska,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
2,Arizona,6479703.0,36.3,49774.0,25358.0,1131901.0,17.468409
3,Arkansas,2933369.0,37.5,40768.0,22170.0,547328.0,18.658682
4,California,37659181.0,35.4,61094.0,29527.0,5885417.0,15.628107

In [32]:
census_pd.to_csv("census_data.csv", encoding="utf-8", index=False)

In [33]:
census_pd_rename = census_pd.rename(columns={"Name": "state"})

## III. Merge CHIP and Census dataframes

In [34]:
merged_dataframe = pd.merge(chip_change, census_pd_rename, on="state")
merged_dataframe.head()

,state,date,lat,lon,state_abbrev,month,chip_enrollment,chip_change,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate
0,Alaska,2017-06-01,61.385,-152.2683,AK,2017-06,12454.0,0.000000,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
1,Alaska,2017-07-01,61.385,-152.2683,AK,2017-07,12605.0,0.012125,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
2,Alaska,2017-08-01,61.385,-152.2683,AK,2017-08,12763.0,0.024811,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
3,Alaska,2017-09-01,61.385,-152.2683,AK,2017-09,12602.0,0.011884,720316.0,33.6,70760.0,32651.0,69514.0,9.650487
4,Alaska,2017-10-01,61.385,-152.2683,AK,2017-10,12963.0,0.040870,720316.0,33.6,70760.0,32651.0,69514.0,9.650487

## IV. First inspection of data through maps

In [36]:
# Read US shapefile
us = "s_11au16.shp"
map_us = gpd.read_file(us)
map_us.describe()

map_us=map_us.rename(columns={'NAME':'state'}) 
map_us.head()

DriverError: s_11au16.shp: No such file or directory

In [ ]:
# Merge dataframe with shapefile

chip_map=chip_change.copy()

merged_map = pd.merge(map_us, chip_map, on="state")
merged_map

In [ ]:
# Change coordinate system
merged_map = merged_map.to_crs({'init': 'epsg:4326'})
merged_map

In [ ]:
# Create dataframes for different years

merged_map_1712 = merged_map.loc[merged_map["month"] == "2017-12",:]
merged_map_1805 = merged_map.loc[merged_map["month"] == "2018-05",:]
merged_map_1905 = merged_map.loc[merged_map["month"] == "2019-05",:]

merged_map_1712

In [ ]:
# Plot the map for 2017
f, ax = plt.subplots(figsize=(20, 20))
# minx, miny, maxx, maxy = gdf.total_bounds
ax.set_xlim(-130, -65)
ax.set_ylim(23, 52)
ax.set_title('Change in CHIP enrollment 2017', fontdict={'fontsize': '40', 'fontweight' : '3'})
merged_map_1712.plot(column='chip_change', cmap='RdBu', ax=ax) 
ax.axis('off')
plt.savefig('chip_17.jpg')
plt.show()

In [ ]:
# Plot the map for 2018
f, ax = plt.subplots(figsize=(20, 20))
# minx, miny, maxx, maxy = gdf.total_bounds
ax.set_xlim(-130, -65)
ax.set_ylim(23, 52)
ax.set_title('Change in CHIP enrollment 2018', fontdict={'fontsize': '40', 'fontweight' : '3'})
merged_map_1805.plot(column='chip_change', cmap='RdBu', ax=ax) 
ax.axis('off')
plt.savefig('chip_18.jpg')
plt.show()

In [ ]:
# Plot the map for 2019
f, ax = plt.subplots(figsize=(20, 20))
# minx, miny, maxx, maxy = gdf.total_bounds
ax.set_xlim(-130, -65)
ax.set_ylim(23, 52)
ax.set_title('Change in CHIP enrollment 2019', fontdict={'fontsize': '40', 'fontweight' : '3'})
merged_map_1905_corr.plot(column='chip_change', cmap='RdBu', ax=ax) 
ax.axis('off')
plt.savefig('chip_19.jpg')
plt.show()

## V. Make queries to the dataset

In [ ]:
# Create dataframe with variables that will be shown in query
chip_queries=merged_dataframe.copy()
chip_queries=chip_queries[['state', 'month', 'chip_change', 'Median Age', 'Household Income', 'Poverty Rate']]
# chip_queries
# chip_queries.info()

In [ ]:
# Choose the month
print('Enter the month (YYYY-MM): ')
# global month
month = str(input())
# Choose the state 
print('Enter the state name: ')
# global state
state = input()

# Print info
chip_queries.query('state==@state and month==@month' , inplace = True)
chip_queries